
.content{
    min-height: calc(100vh - 190px);
    margin: auto;
}
h1{
    text-align: center;
}

.cart_box{
    width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cards_of_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.cards_of_cart img{
    width: 150px;
}

.del_btn{
    width: 70px;
    height: 30px;
    background-color: rgba(18, 18, 18,0.7);
    border: none;
    cursor: pointer;
}
.del_btn:hover{
    background-color: rgba(39, 39, 39, 0.7);
}